In [4]:
import pandas as pd

In [39]:
# Filter out instances that are not solved by the DRL agent: 

failed_DRL_150k = [4000, 4002, 4006, 4009, 4010, 4012, 4020, 4021, 4022, 4028, 4030, 4031, 4045, 4055, 4057, 4058, 4062, 4063, 4066, 4083, 4089, 4090, 4091, 4096, 4109, 4119, 4120, 4122, 4123, 4126, 4140, 4141, 4142, 4170, 4175, 4188, 4192, 4201, 4205, 4209, 4211, 4218, 4219, 4220, 4231, 4260, 4267, 4281, 4295, 4303, 4305, 4318, 4320, 4322, 4332, 4335, 4336, 4339, 4345, 4348, 4355, 4358, 4362, 4372, 4374, 4411, 4417, 4422, 4430, 4434, 4468, 4482, 4484, 4503, 4505, 4520, 4531, 4536, 4549, 4552, 4556, 4559, 4561, 4565, 4569, 4583, 4584, 4595, 4601, 4602, 4608, 4617, 4631, 4632, 4644, 4645, 4646, 4677, 4681, 4690, 4692, 4693, 4699, 4701, 4717, 4726, 4732, 4756, 4767, 4768, 4770, 4777, 4782, 4793, 4799, 4803, 4812, 4817, 4821, 4823, 4826, 4827, 4835, 4852, 4854, 4858, 4863, 4883, 4896, 4904, 4913, 4917, 4925, 4928, 4930, 4941, 4942, 4943, 4947, 4955, 4960, 4973, 4974, 4984, 4988, 4989, 4990, 5001, 5008, 5011, 5013, 5016, 5027, 5031, 5037, 5040, 5046, 5048, 5061, 5063, 5067, 5070, 5077, 5079, 5080, 5089, 5092, 5103, 5108, 5113, 5115, 5149, 5152, 5153, 5155, 5159, 5166, 5167, 5176, 5182, 5185, 5186, 5191, 5197, 5201, 5210, 5211, 5217, 5218, 5227, 5230, 5239, 5263, 5266, 5267, 5268, 5274, 5279, 5280, 5296, 5298, 5299, 5309, 5313, 5314, 5317, 5322, 5327, 5330, 5337, 5338, 5343, 5346, 5358, 5362, 5363, 5401, 5403, 5404, 5408, 5413, 5414, 5436, 5444, 5450, 5457, 5462, 5463, 5470, 5473, 5477, 5478, 5479, 5481, 5483, 5484, 5487, 5488, 5494, 5503, 5506, 5511, 5516, 5523, 5529, 5533, 5552, 5554, 5557, 5558, 5566, 5567, 5568, 5579, 5583, 5611, 5612, 5613, 5616, 5622, 5624, 5639, 5655, 5662, 5668, 5670, 5672, 5680, 5685, 5688, 5690, 5691, 5698, 5714, 5715, 5720, 5723, 5732, 5733, 5735, 5739, 5748, 5749, 5750, 5751, 5756, 5772, 5774, 5777, 5785, 5788, 5789, 5794, 5803, 5809, 5821, 5827, 5829, 5831, 5839, 5862, 5875, 5879, 5880, 5892, 5893, 5898, 5906, 5912, 5922, 5923, 5927, 5931, 5936, 5941, 5950, 5951, 5970, 5979, 5982, 5988, 5996, 6012, 6021, 6022, 6026, 6029, 6037, 6044, 6051, 6078, 6080, 6089, 6090, 6091, 6099, 6104, 6108, 6112, 6116, 6123, 6124, 6127, 6131, 6147, 6149, 6158, 6162, 6168, 6170, 6184, 6190, 6198, 6202, 6208, 6215, 6216, 6227, 6234, 6237, 6240, 6241, 6243, 6246, 6252, 6254, 6256, 6258, 6259, 6260, 6266, 6269, 6271, 6276, 6278, 6289, 6297, 6301, 6303, 6307, 6308, 6313, 6316, 6322, 6324, 6326, 6327, 6330, 6331, 6336, 6337, 6338, 6343, 6345, 6351, 6358, 6360, 6363, 6369, 6375, 6376, 6378, 6379, 6388, 6391, 6393, 6400, 6401, 6406, 6411, 6412, 6414, 6420, 6421, 6426, 6429, 6432, 6438, 6444, 6447, 6450, 6454, 6465, 6470, 6482, 6485, 6492, 6496, 6500, 6501, 6507, 6512, 6514, 6515, 6516, 6519, 6521, 6523, 6524, 6525, 6527, 6533, 6542, 6544, 6546, 6547, 6548, 6549, 6561, 6562, 6563, 6565, 6567, 6577, 6585, 6590, 6594, 6596, 6597, 6598, 6601, 6603, 6612, 6619, 6625, 6627, 6636, 6638, 6641, 6642, 6644, 6646, 6649, 6651, 6654, 6655, 6658, 6670, 6673, 6681, 6683, 6690, 6694, 6700, 6701, 6703, 6709, 6711, 6717, 6719, 6734, 6735, 6739, 6752, 6756, 6762, 6763, 6764, 6766, 6767, 6768, 6770, 6775, 6782, 6784, 6787, 6789, 6791, 6793, 6795, 6802, 6824, 6827, 6830, 6832, 6833, 6839, 6842, 6846, 6853, 6854, 6859, 6861, 6862, 6870, 6892, 6905, 6908, 6911, 6917, 6920, 6921, 6922, 6931, 6935, 6939, 6944, 6950, 6951, 6952, 6954, 6965, 6970, 6974, 6975, 6977, 6979, 6984, 7003, 7006, 7007, 7012, 7013]
failed_DRL_185k = [4020, 4022, 4033, 4083, 4106, 4109, 4112, 4172, 4200, 4201, 4237, 4245, 4257, 4261, 4263, 4267, 4280, 4313, 4320, 4332, 4341, 4345, 4355, 4364, 4365, 4370, 4374, 4382, 4468, 4486, 4487, 4499, 4510, 4530, 4538, 4544, 4556, 4569, 4609, 4628, 4667, 4681, 4690, 4699, 4710, 4712, 4743, 4790, 4795, 4803, 4824, 4839, 4846, 4847, 4853, 4857, 4858, 4860, 4862, 4863, 4884, 4890, 4894, 4901, 4904, 4908, 4927, 4928, 4936, 4962, 4966, 4969, 4974, 4989, 4991, 5006, 5008, 5011, 5012, 5014, 5031, 5036, 5037, 5039, 5041, 5048, 5056, 5063, 5086, 5087, 5118, 5127, 5167, 5175, 5178, 5181, 5194, 5202, 5221, 5223, 5239, 5241, 5242, 5243, 5246, 5249, 5262, 5265, 5273, 5274, 5275, 5294, 5304, 5305, 5307, 5308, 5312, 5313, 5333, 5338, 5359, 5385, 5388, 5390, 5399, 5402, 5409, 5411, 5412, 5422, 5440, 5442, 5452, 5453, 5463, 5465, 5473, 5483, 5488, 5493, 5494, 5503, 5507, 5511, 5513, 5524, 5535, 5545, 5548, 5561, 5572, 5590, 5595, 5596, 5597, 5603, 5610, 5613, 5618, 5622, 5623, 5626, 5636, 5656, 5668, 5673, 5676, 5685, 5688, 5691, 5694, 5709, 5715, 5719, 5724, 5733, 5735, 5742, 5743, 5746, 5747, 5748, 5749, 5751, 5756, 5768, 5782, 5790, 5794, 5814, 5823, 5829, 5831, 5843, 5849, 5850, 5851, 5857, 5860, 5871, 5872, 5893, 5899, 5909, 5914, 5928, 5932, 5944, 5970, 5973, 5988, 5996, 6001, 6002, 6005, 6006, 6016, 6018, 6029, 6035, 6051, 6053, 6061, 6066, 6068, 6079, 6082, 6088, 6104, 6122, 6129, 6131, 6136, 6144, 6149, 6160, 6162, 6167, 6169, 6180, 6181, 6183, 6184, 6193, 6195, 6198, 6208, 6219, 6220, 6229, 6233, 6240, 6255, 6256, 6260, 6266, 6275, 6278, 6286, 6303, 6307, 6310, 6311, 6319, 6320, 6333, 6335, 6336, 6340, 6347, 6356, 6359, 6361, 6369, 6374, 6375, 6376, 6380, 6384, 6387, 6388, 6396, 6400, 6402, 6407, 6419, 6420, 6421, 6431, 6433, 6437, 6446, 6450, 6462, 6464, 6465, 6470, 6472, 6482, 6489, 6490, 6491, 6495, 6502, 6506, 6513, 6519, 6523, 6524, 6533, 6536, 6538, 6540, 6542, 6557, 6560, 6564, 6569, 6574, 6584, 6585, 6588, 6593, 6594, 6595, 6596, 6598, 6624, 6625, 6628, 6638, 6640, 6646, 6649, 6657, 6659, 6660, 6662, 6673, 6676, 6683, 6698, 6700, 6702, 6708, 6713, 6715, 6730, 6731, 6734, 6737, 6744, 6745, 6752, 6753, 6757, 6768, 6769, 6775, 6783, 6784, 6793, 6796, 6798, 6806, 6808, 6809, 6817, 6820, 6829, 6840, 6851, 6854, 6856, 6859, 6872, 6879, 6881, 6886, 6887, 6894, 6895, 6901, 6912, 6922, 6935, 6936, 6947, 6960, 6961, 6964, 6965, 6970, 6979, 6981, 6984, 6985, 6989, 6991, 6996, 6997, 7001, 7002, 7011, 7015, 7017, 7018, 7019]
failed_DRL_220k = [4000, 4022, 4066, 4123, 4188, 4220, 4254, 4263, 4336, 4345, 4374, 4453, 4473, 4484, 4505, 4529, 4644, 4699, 4769, 4802, 4808, 4860, 4892, 4895, 4900, 4905, 4906, 4919, 4992, 5008, 5019, 5021, 5038, 5085, 5108, 5149, 5153, 5190, 5196, 5201, 5204, 5210, 5211, 5224, 5246, 5256, 5279, 5299, 5310, 5337, 5346, 5359, 5363, 5386, 5394, 5402, 5407, 5421, 5433, 5455, 5469, 5473, 5477, 5483, 5510, 5524, 5537, 5560, 5583, 5584, 5594, 5618, 5619, 5624, 5653, 5654, 5699, 5705, 5733, 5762, 5788, 5794, 5796, 5829, 5831, 5838, 5857, 5915, 5927, 5970, 5982, 5988, 6002, 6029, 6035, 6046, 6078, 6093, 6128, 6146, 6203, 6209, 6215, 6240, 6254, 6260, 6265, 6266, 6272, 6277, 6288, 6295, 6296, 6298, 6301, 6302, 6303, 6305, 6311, 6322, 6335, 6338, 6351, 6357, 6361, 6363, 6369, 6391, 6404, 6406, 6417, 6419, 6421, 6422, 6431, 6433, 6437, 6438, 6442, 6447, 6449, 6458, 6459, 6465, 6475, 6477, 6485, 6491, 6509, 6514, 6516, 6527, 6532, 6538, 6543, 6544, 6549, 6550, 6560, 6562, 6565, 6575, 6582, 6585, 6588, 6589, 6593, 6594, 6606, 6607, 6613, 6616, 6617, 6626, 6627, 6628, 6637, 6638, 6646, 6651, 6657, 6663, 6673, 6676, 6677, 6682, 6689, 6690, 6700, 6715, 6734, 6745, 6757, 6767, 6770, 6773, 6777, 6791, 6796, 6806, 6809, 6823, 6828, 6831, 6853, 6854, 6858, 6861, 6871, 6877, 6878, 6881, 6887, 6890, 6902, 6904, 6910, 6917, 6927, 6934, 6937, 6946, 6958, 6969, 6970, 6973, 6975, 6981, 6984, 6989, 7003, 7006, 7008, 7015]

print(len(failed_DRL_150k), len(failed_DRL_185k), len(failed_DRL_220k))

553 408 234

In [47]:
import scipy.stats as sc

# here setup which model to evaluate
#1525336829 is the 150k expensive relocation model.
#1525445230 is the 185k expensive relocation model.
#1526820866 is the 220k expensive relocation model.

models_to_evaluate = [1525336829, 1525445230, 1526820866]

def load_failed_instances(model_nr):
    if model_nr == 1525336829:
        failed_DRL = failed_DRL_150k
        model_name = 'DRL_150k'
    elif model_nr == 1525445230:
        failed_DRL = failed_DRL_185k
        model_name = 'DRL_185k'
    elif model_nr == 1526820866:
        failed_DRL = failed_DRL_220k
        model_name = 'DRL_220k'
    else:
        print('wrong model nr entered, execution stopped')
    return failed_DRL, model_name


# Input a pandas series 
def ent(data):
    p_data= data.value_counts()/len(data) # calculates the probabilities
    entropy=sc.entropy(p_data)  # input probabilities to get the entropy 
    return entropy


records = []    
for model_nr in models_to_evaluate:
    failed_DRL, model_name = load_failed_instances(model_nr)
    action_data = pd.read_csv('data_'+str(model_nr)+'_relocation_arrival_actions.csv')
    
    # annotate solved instances
    action_data['solved'] = action_data.apply(lambda row: 0 if row.instance_id in failed_DRL else 1, axis = 1)
    
    #filter on solved instances
    action_data_solved = action_data.loc[action_data['solved'] == 1].copy()
    
    for type_ in action_data_solved.strtype.unique():
        actions = action_data_solved.loc[action_data_solved.strtype == type_].action.astype('int64').copy()
        ent_ = ent(actions)
        records.append({'type_': type_, 'algo': model_name, 'ent': ent_})
    
ent_data = pd.DataFrame.from_records(records)
ent_data['composition'] = ent_data.apply(lambda row: row.type_.replace('14','SLT4').replace('16', 'SLT6').replace('24','VIRM4').replace('26','VIRM6'), axis =1 )

result_table = ent_data.pivot(index='algo', columns='composition', values='ent')
result_table

composition,"['SLT4', 'SLT4']","['SLT4', 'SLT6']",['SLT4'],"['SLT6', 'SLT4']",['SLT6'],"['VIRM4', 'VIRM4']","['VIRM4', 'VIRM6']",['VIRM4'],"['VIRM6', 'VIRM4']",['VIRM6']
algo,,,,,,,,,,
DRL_150k,1.064035,0.000000,1.234747,0.000000,0.700312,1.136287,0.000000,1.152410,0.000000,1.102673
DRL_185k,0.550272,0.006099,1.232813,0.006428,0.841918,1.118216,0.038397,1.067236,0.017367,1.128782
DRL_220k,0.615021,0.005717,0.869230,0.000000,0.514416,1.132795,0.030942,0.863133,0.017488,0.971016

In [48]:
print(result_table.to_latex())

\begin{tabular}{lrrrrrrrrrr}
\toprule
composition &  ['SLT4', 'SLT4'] &  ['SLT4', 'SLT6'] &  ['SLT4'] &  ['SLT6', 'SLT4'] &  ['SLT6'] &  ['VIRM4', 'VIRM4'] &  ['VIRM4', 'VIRM6'] &  ['VIRM4'] &  ['VIRM6', 'VIRM4'] &  ['VIRM6'] \\
algo     &                   &                   &           &                   &           &                     &                     &            &                     &            \\
\midrule
DRL\_150k &          1.064035 &          0.000000 &  1.234747 &          0.000000 &  0.700312 &            1.136287 &            0.000000 &   1.152410 &            0.000000 &   1.102673 \\
DRL\_185k &          0.550272 &          0.006099 &  1.232813 &          0.006428 &  0.841918 &            1.118216 &            0.038397 &   1.067236 &            0.017367 &   1.128782 \\
DRL\_220k &          0.615021 &          0.005717 &  0.869230 &          0.000000 &  0.514416 &            1.132795 &            0.030942 &   0.863133 &            0.017488 &   0.971016 \\
\bottomrule
\end{tabular}

.

,

,



Analysis code pens below.

In [7]:
# here setup which model to evaluate
#1525336829 is the 150k expensive relocation model.
#1525445230 is the 185k expensive relocation model.
#1526820866 is the 220k expensive relocation model.

models_to_evaluate = [1525336829]

filename = 'data_'+str(model_nr)+'_relocation_arrival_actions.csv'
data_150k = pd.read_csv(filename)

In [13]:
data_150k['solved'] = data_150k.apply(lambda row: 0 if row.instance_id in failed_DRL else 1, axis = 1)

In [18]:
data_150k_solved = data_150k.loc[data_150k['solved']==1]
data_150k_solved.head()

    Unnamed: 0  action  instance_id  step          type       strtype  solved
9            9       1         4001     0  ['16', '14']  ['16', '14']       1
10          10       2         4001     1        ['26']        ['26']       1
11          11       8         4001     2  ['26', '24']  ['26', '24']       1
12          12       5         4001     3  ['14', '14']  ['14', '14']       1
13          13       3         4001     4        ['16']        ['16']       1

In [17]:
len(data_150k_solved)

26413

# This number of actions is exactly equal to what we extracted from roel's also, so that is a check that it is correctly done @ roel.

       algo       ent         type_
0  DRL 150k  0.000000  ['16', '14']
1  DRL 150k  1.102673        ['26']
2  DRL 150k  0.000000  ['26', '24']
3  DRL 150k  1.064035  ['14', '14']
4  DRL 150k  0.700312        ['16']
5  DRL 150k  1.152410        ['24']
6  DRL 150k  1.136287  ['24', '24']
7  DRL 150k  1.234747        ['14']
8  DRL 150k  0.000000  ['14', '16']
9  DRL 150k  0.000000  ['24', '26']